#main {
  position: relative;
  overflow-x: hidden;
  min-height: calc(100vh - 494px);
  width: 100vw;
  z-index: 20;
  background-color: $bg-gray;
  will-change: transform;
}



.container {
  width: 100vw;
  overflow-x: hidden;
}

.spacer {
  height: 25px;
}


.content {
  max-width: 960px;
  width: 90%;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.text {
  text-align: justify;
  padding: 15px;
  font-family: opensans;
  font-size: 16px;
}


.title {
  position: relative;
  max-width: 1100px;
  width: 90%;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;

  .title-text {
    position: relative;
    float: left;
    font-family: montserrat;
    font-size: 25px;
    font-size: 8vw;
    background-color: $bg-gray;
    padding-right: 25px;
    animation: titletextAnimation 1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
  }
}

.title:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  height: 2px;
  width: 100%;
  background-color: black;
  animation: titlebarAnimation 1s cubic-bezier(0.645, 0.045, 0.355, 1) both;
  animation-delay: 1s;
}



.section {
  position: relative;
  max-width: 1040px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  span {
    height: 100%;
    font-family: montserrat;
    font-size: 20px;
    font-size: calc(20px + 1vw);
  }

  .section-slashes span:nth-child(1) {
    color: $ct-blue;
  }

  .section-slashes span:nth-child(2) {
    color: $ct-orange;
  }
}

.subsection {
  text-align: left;
  font-family: opensans-bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.fa-table {
  tr td:nth-child(1) {
    width: 30px;
    padding-right: 5px;
    vertical-align: top;
  }
}




@media only screen and (min-width: $bp-medium) {

  .text, .subsection {
    font-size: 20px;
  }

  #main {
    width: calc(100vw - #{$sidenav-width_closed});
  }

  .container {
    width: calc(100vw - #{$sidenav-width_closed});
  }

  .title .title-text {
    font-size: 75px;
  }

  .section {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section span {
    font-size: 40px;
  }
}


@keyframes titlebarAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes titletextAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
