#main {
  position: relative;
  overflow-x: hidden;
  min-height: calc(100vh - #{$footer-height});
  width: 100vw;
  z-index: 20;
  background-color: $bg-gray;
}



.container {
  width: 100vw;
}


.content {
  max-width: 960px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.text {
  text-align: justify;
  padding: 15px;
}




@media only screen and (min-width: $bp-medium) {

  #main {
    width: calc(100vw - #{$sidenav-width_closed});
  }

  .container {
    width: calc(100vw - #{$sidenav-width_closed});
  }

}
