.exhibitors {


  .image-big {
    div {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .image {
    background-image: url(#{$awss3}/img/2.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
  }

  .patterned {
    background: repeating-linear-gradient(-45deg, transparent 0%, transparent 70%,  $ct-blue 70%, $ct-blue 75%,  transparent 75%, transparent 100%),
    repeating-linear-gradient(-45deg, transparent 0%, transparent 85%, $ct-blue 85%, $ct-blue 95%, transparent 95%, transparent 100%),
    repeating-linear-gradient(-45deg, transparent 0%, transparent 25%, $ct-orange 25%, $ct-orange 30%, transparent 30%, transparent 100%),
    repeating-linear-gradient(-45deg, transparent 0%, transparent 5%, $ct-orange 5%, $ct-orange 15%, transparent 15%, transparent 100%),
    url(#{$awss3}/img/pattern2.png) repeat top left;
  }



  .image-container {
    padding: 15px;
    max-width: 760px;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;

    span {
      color: $text-white;
      font-family: montserrat;
      font-size: 23px;
    }

    .bar {
      flex-grow: 1;
      height: 1px;
      background-color: $text-white;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  @media only screen and (min-width: $bp-large) {

    .image-container span {
      font-size: 50px !important;
    }

    .image-container .bar {
      height: 2px !important;
    }
  }



  #packages-table {
    // margin-left: auto;
    // margin-right: auto;
    padding: 0px;
    border-spacing: 5px 0px;
    max-width: 100%;

    tr:nth-child(1) td {
      font-size: 20px;
      font-family: montserrat;
    }

    tr td {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 1px;
      padding-right: 1px;
      font-size: 12px;
      text-align: center;
      vertical-align: middle;
      min-width: 25px;
      width: 15%;
    }

    tr td:nth-child(1) {
      background-color: transparent;
      text-align: right;
      width: 40%
    }

    tr td:nth-child(2) {
      background-color: $ct-gray;
      color: white;
    }

    tr td:nth-child(3) {
      background-color: $pg-silver;
    }

    tr td:nth-child(4) {
      background-color: $pg-gold;
    }

    tr td:nth-child(5) {
      background-color: $pg-platinum;
    }
  }



  @media only screen and (min-width: $bp-large) {

    #packages-table {
      padding: 0px;
      border-spacing: 30px 0px;
      max-width: 100%;

      tr:nth-child(1) td {
        font-size: 35px;
      }

      tr td {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;
      }

      tr td:nth-child(1) {
        // max-width: 300px;
      }

    }
  }

  .packages-base, .packages-silver, .packages-gold, .packages-platinum {
    width: 22.5%;
    position: relative;
    max-width: 150px;
    height: 30vw;
    max-height: 200px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $ct-gray;
    z-index: 10;
    transition: z-index 0.5s linear;
    transition-delay: 0.495s;
    cursor: pointer;

    @media only screen and (min-width: $bp-medium) {
      height: 40vw;
    }

    &:after {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      z-index: 20;
      content: '';
      background-color: rgba(250,250,250,0.25);
      transition: background-color .125s linear;
    }

    &.gallery-button-active {
      z-index: 50;
      transition: z-index .5s linear;
      &:after {
        background-color: rgba(250,250,250,0);
        transition: background-color .125s linear;
        transition-delay: 0.87s;
      }
    }

    span {
      margin: auto;
      font-family: montserrat;
      font-size: 40px;

      @media only screen and (min-width: $bp-medium) {
        font-size: 75px;
      }
    }
  }

  .packages-base {
    background-color: $ct-gray;
    color: white;
  }

  .packages-silver {
    background-color: $pg-silver;
  }

  .packages-gold {
    background-color: $pg-gold;
  }

  .packages-platinum {
    background-color: $pg-platinum;
  }


  .info-packages {
    overflow-y: hidden;
    width: 100%;
    max-height: 0px;
    box-shadow: 0px -1px 6px rgba(0,0,0,0.16), 0px -1px 6px rgba(0,0,0,0.23);
    z-index: 49;

    &.initially-gallery-opened {
      max-height: 10000px;
    }

    &.gallery-opened {
      animation: galleryAnimationIn .5s linear forwards;
      animation-delay: .495s;
    }

    &.gallery-closed {
      animation: galleryAnimationOut .5s linear forwards;
    }

  }

  .bg {
    span:nth-child(1) {
      display: block;
      font-size: 20px;
      font-family: montserrat;

      @media only screen and (min-width: $bp-medium) {
        font-size: 24px;
      }
    }
    span:nth-child(2) {
      display: block;
      text-align: left !important;
    }
  }

  #info-base .box {
    border-bottom: 1px solid $ct-gray;

    .bg {
      background-color: $ct-gray;
      color: white;
    }
  }

  #info-silver .box {
    border-bottom: 1px solid $pg-silver;

    .bg {
      background-color: $pg-silver;
      color: black;
    }
  }

  #info-gold .box {
    border-bottom: 1px solid $pg-gold;

    .bg {
      background-color: $pg-gold;
      color: black;
    }
  }

  #info-platinum .box {
    border-bottom: 1px solid $pg-platinum;

    .bg {
      background-color: $pg-platinum;
      color: black;
    }
  }

















  .packages {
    tr td:nth-child(1) {
      padding-right: 10px;
      vertical-align: top;
    }
    tr td:nth-child(2) {
      text-align: left;
    }
  }

  .feedback {
    tr td {
      vertical-align: top;
    }
    tr td:nth-child(4) {
      text-align: left;
      padding-left: 10px;
    }
  }





  @keyframes galleryAnimationIn {
    0% {
      opacity: 0;
      max-height: 0px;
    }
    1% {
      opacity: 0;
      max-height: 10000px;
    }
    100% {
      opacity: 1;
      max-height: 10000px;
    }
  }

  @keyframes galleryAnimationOut {
    0% {
      opacity: 1;
      max-height: 10000px;
    }
    99% {
      opacity: 0;
      max-height: 10000px;
    }
    100% {
      opacity: 0;
      max-height: 0px;
    }
  }

  .programme_button_div {

    a {
      text-decoration: none;
      :hover {
        text-decoration: none;
      }
    }

      text-align: center;

      span {
        border-radius: 10px;
        padding: 5px;
        background-color: $ct-blue;
        color: $text-white;
        text-decoration: none;
        font-weight: bold;
        box-shadow: $button-boxshadow;
        border: 2px solid $ct-blue;
        transition: linear 0.2s;
      }

      :hover {
        span {
          text-decoration: none;
          background-color: $bg-gray;
          color: $ct-blue;
        }
      }

  }


}
