.exhibitors {


  .image-big {
    div {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .image {
    background-image: url(#{$awss3}/img/2.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
  }

  .patterned {
    background: repeating-linear-gradient(-45deg, transparent 0%, transparent 70%,  $ct-blue 70%, $ct-blue 75%,  transparent 75%, transparent 100%),
    repeating-linear-gradient(-45deg, transparent 0%, transparent 85%, $ct-blue 85%, $ct-blue 95%, transparent 95%, transparent 100%),
    repeating-linear-gradient(-45deg, transparent 0%, transparent 25%, $ct-orange 25%, $ct-orange 30%, transparent 30%, transparent 100%),
    repeating-linear-gradient(-45deg, transparent 0%, transparent 5%, $ct-orange 5%, $ct-orange 15%, transparent 15%, transparent 100%),
    url(#{$awss3}/img/pattern2.png) repeat top left;
  }



  .image-container {
    padding: 15px;
    max-width: 760px;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;

    span {
      color: $text-white;
      font-family: montserrat;
      font-size: 23px;
    }

    .bar {
      flex-grow: 1;
      height: 1px;
      background-color: $text-white;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  @media only screen and (min-width: $bp-large) {

    .image-container span {
      font-size: 50px !important;
    }

    .image-container .bar {
      height: 2px !important;
    }
  }



  .packages-base, .packages-silver, .packages-gold, .packages-platinum {
    width: 150px;
    height: 200px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $ct-gray;

    span {
      margin: auto;
      font-family: opensans-bold;
      font-size: 75px;
    }
  }

  .packages-base {
    background-color: $ct-gray;
    color: white;
  }

  .packages-silver {
    background-color: $pg-silver;
  }

  .packages-gold {
    background-color: $pg-gold;
  }

  .packages-platinum {
    background-color: $pg-platinum;
  }


  .packages {
    tr td:nth-child(1) {
      padding-right: 10px;
      vertical-align: top;
    }
    tr td:nth-child(2) {
      text-align: left;
    }
  }

  .packages-desc {
    text-align: left;
  }

  .feedback {
    tr td {
      vertical-align: top;
    }
    tr td:nth-child(4) {
      text-align: left;
      padding-left: 10px;
    }
  }










}
