@font-face {
	font-family: 'opensans';
	src: url('#{$awss3}/fonts/Open_Sans/OpenSans-Light.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'opensans-bold';
	src: url('#{$awss3}/fonts/Open_Sans/OpenSans-SemiBold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('#{$awss3}/fonts/Montserrat/Montserrat-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-bold';
	src: url('#{$awss3}/fonts/Montserrat/Montserrat-SemiBold.ttf');
	font-weight: normal;
	font-style: normal;
}
