@font-face {
	font-family: 'opensans';
	src: url('/css/fonts/Open_Sans/OpenSans-Light.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'opensans-condensed';
	src: url('/css/fonts/Open_Sans_condensed/OpenSansCondensed-Light.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('/css/fonts/Montserrat/Montserrat-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-bold';
	src: url('/css/fonts/Montserrat/Montserrat-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'cabin';
	src: url('/css/fonts/Cabin/Cabin-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'dosis';
	src: url('/css/fonts/Dosis/Dosis-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'poppins';
	src: url('/css/fonts/Poppins/Poppins-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'saira';
	src: url('/css/fonts/Saira/SairaCondensed-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
