#footer-container {
  position: relative;
  overflow-x: hidden;
  height: $footer-height;
  width: 100vw;
  z-index: 20;
  background-color: $ct-orange;
}


#footer {
  max-width: 960px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}



@media only screen and (min-width: $bp-medium) {

  #footer-container {
    width: calc(100vw - #{$sidenav-width_closed});
  }

}
