* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: opensans;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: $ct-gray;
}




.s-1 {width: 8.33%;}
.s-2 {width: 16.66%;}
.s-3 {width: 25%;}
.s-4 {width: 33.33%;}
.s-5 {width: 41.66%;}
.s-6 {width: 50%;}
.s-7 {width: 58.33%;}
.s-8 {width: 66.66%;}
.s-9 {width: 75%;}
.s-10 {width: 83.33%;}
.s-11 {width: 91.66%;}
.s-12 {width: 100%;}

@media only screen and (min-width: $bp-medium) {
  .m-1 {width: 8.33%;}
  .m-2 {width: 16.66%;}
  .m-3 {width: 25%;}
  .m-4 {width: 33.33%;}
  .m-5 {width: 41.66%;}
  .m-6 {width: 50%;}
  .m-7 {width: 58.33%;}
  .m-8 {width: 66.66%;}
  .m-9 {width: 75%;}
  .m-10 {width: 83.33%;}
  .m-11 {width: 91.66%;}
  .m-12 {width: 100%;}
}

@media only screen and (min-width: $bp-large) {
  .l-1 {width: 8.33%;}
  .l-2 {width: 16.66%;}
  .l-3 {width: 25%;}
  .l-4 {width: 33.33%;}
  .l-5 {width: 41.66%;}
  .l-6 {width: 50%;}
  .l-7 {width: 58.33%;}
  .l-8 {width: 66.66%;}
  .l-9 {width: 75%;}
  .l-10 {width: 83.33%;}
  .l-11 {width: 91.66%;}
  .l-12 {width: 100%;}
}
