body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#topnav {
  transition: margin-left .5s;
  overflow: hidden;
}


#main {
  transition: margin-left .5s;
  overflow: hidden;
  min-height: 100vh;
}
