
//
// mobile-first: no visible closed sidebar, instead visible navbar
// applies for all, but is overridden if device larger than $bp-medium
//

#topnav, #topnav-container {
  //display navbar and set initial translation
  display: block;
  transition: $sidenav-transition;
  transform: translate3d(0,0,0);

  //pin navbar to top of page
  position: fixed;
  height: $navbar-height;
  left: 0;
  top: 0;
}


#sidenav {
  //set width of sidenav to be constant at $opened_width, but translate outside of viewport by its $opened_width, so its hidden
  width: $sidenav-width_opened;
  transform: translate3d(-$sidenav-width_opened,0,0);
  transition: $sidenav-transition;
}


.sidenav_open-content {
  //if sidenav is opened, translate content by $opened_width to the right
  transform: translate3d($sidenav-width_opened, 0, 0) !important;
}


.sidenav_open-nav {
  //if sidenav is opened, translate sidenav back into view
  transform: translate3d(0, 0, 0) !important;
}


#main {
  //set initial translation and set padding to accomodate fixed navbar
  transition: $sidenav-transition;
  transform: translate3d(0,0,0);
  padding-top: $navbar-height;
}


#footer-container {
  //set initial translation
  transition: $sidenav-transition;
  transform: translate3d(0,0,0);
}




//
// desktop-second: hide navbar and instead show fraction of sidenav
// additional parameters for devices wider than $bp-medium
//

@media only screen and (min-width: $bp-medium) {

  #topnav, #topnav-container {
    //hide navbar again
    display: none;
  }


  #sidenav {
    //set width of sidenav to be constant at $opened_width and set initial translation back to zero
    width: $sidenav-width_opened;
    transform: translate3d(0,0,0);
    transition: $sidenav-transition;
  }


  .sidenav_open-content {
    //if sidenav is opened, translate content by $opened_width to the right
    transform: translate3d($sidenav-width_opened, 0, 0) !important;
  }


  .sidenav_open-nav {
    //if sidenav is opened, keep translation as before (just fallback)
    transform: translate3d(0, 0, 0) !important;
  }


  #main {
    //set initial translation of content to $closed_width of sidenav, to hide it up to $closed_width, remember that main has larger z-index than sidenav, so sidenav becomes hidden
    transition: $sidenav-transition;
    transform: translate3d($sidenav-width_closed,0,0);

    //also reset padding-top to nothing, as there is no navbar to be accomodated
    padding-top: 0;
  }


  #footer-container {
    //set initial translation of footer to $closed_width of sidenav, to hide the sidenav similar as with #main
    transition: $sidenav-transition;
    transform: translate3d($sidenav-width_closed,0,0);
  }

}
