#sidenav {
  min-height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: $ct-gray;
  overflow-x: hidden;
  padding-top: 25px;
  transition: 0.5s;
  white-space: nowrap;
  will-change: transform;

  .sidenav-link {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 20px;
    color: $sidenav-main;
    background-color: inherit;
    display: block;
    font-family: montserrat;
    transition: color $sidenav_link-transition, transform $sidenav_link-transition;
    transform: translate3d(0,0,0);
  }

  .sidenav-link:hover:before {
    content: '/';
    position: fixed;
    animation: navpseudoAnimation $sidenav_link-transition;
    animation-fill-mode: both;
  }

  .sidenav-link:hover {
    color: $ct-orange;
    transform: translate3d(10px,0,0);
  }


  #active {
    color: $text-white;
  }

  #active:hover {
    color: $ct-blue;
  }
}


#sidenav:after {
  box-shadow: -3px 0px 6px rgba(0,0,0,0.16), -3px 0px 6px rgba(0,0,0,0.23);
  content: " ";
  height: calc(100% - #{$navbar-height});
  right: -10px;
  position: absolute;
  top: 0;
  width: 10px;
  margin-top: $navbar-height;
}

@media only screen and (min-width: $bp-medium) {
  #sidenav:after {
    box-shadow: -3px 0px 6px rgba(0,0,0,0.16), -3px 0px 6px rgba(0,0,0,0.23);
    content: " ";
    height: 100%;
    right: calc(#{$sidenav-width_opened} - 10px);
    position: absolute;
    top: 0;
    width: 10px;
    margin-top: 0px;
  }
}


#topnav {
  background-color: $ct-gray;
  overflow-x: hidden;
  width: 100vw;
  z-index: 25;
}


#sidenav-logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 250px;
  height: 72px;
  position: relative;
  overflow: hidden;
  z-index: 30;

  img {
    position: absolute;
    top: 0;
    left: 0;
    transition: $sidenav_logo-transition;
    z-index: 30;
  }
}

@media only screen and (min-width: $bp-medium) {
  #sidenav-logo-opened {
    opacity: 0.0;
  }

  .sidenav_open-nav #sidenav-logo-opened {
    opacity: 1.0 !important;
  }
}



#sidenav-language {
  width: $sidenav-width_opened;
  text-align: center;
  font-family: montserrat;
  color: $sidenav-main;

  a {
    text-decoration: none;
    font-family: montserrat;
    color: $sidenav-main;
    transition: color $sidenav_link-transition;
  }

  a:hover {
    color: $ct-orange;
  }

  #active {
    color: $text-white;
  }

  #active:hover {
    color: $ct-blue;
  }

}




@media only screen and (min-width: $bp-medium) {
  #sidenav-language {
    width: $sidenav-width_closed;
  }
}














#topnav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 30;
}




#topnav div {
  color: $topnav-main;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  font-size: 17px;
  white-space: nowrap;
}

#topnav-left, #topnav-right {
  flex-grow: 0;
}

#topnav-center {
  height: 1px;
  flex-grow: 1;
  background-color: $topnav-main;
}









@keyframes navpseudoAnimation {
  0% {
    color: transparent;
    transform: translate3d(0,0,0);
  }
  100% {
    color: inherit;
    transform: translate3d(-10px,0,0);
  }
}
