


$opened_width: 250px;
$closed_width: 100px;


@mixin sidenav-width {
  width: 0px;
  @media only screen and (min-width: $bp-medium) {width: $closed_width;}
}

@mixin main-margin {
  margin-left: 0px;
  @media only screen and (min-width: $bp-medium) {margin-left: $closed_width;}
}

@mixin topnav-display {
  display: inherit;
  @media only screen and (min-width: $bp-medium) {display: none;}
}













.sidenav_open {
  width: $opened_width !important;
}
.sidenav_open_main {
  margin-left: $opened_width !important;
}



#sidenav {
  height: 100%;
  @include sidenav-width;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $ct-gray;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  white-space: nowrap;
}

#sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}


#main {
  @include main-margin;
}

#topnav {
  @include topnav-display;
}


#topnav {
  background-color: $ct-gray;
  overflow: hidden;
}


#topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  white-space: nowrap;
}
