#sidenav {
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: $ct-gray;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  white-space: nowrap;
}


#sidenav:after {
  box-shadow: -3px 0px 6px rgba(0,0,0,0.16), -3px 0px 6px rgba(0,0,0,0.23);
  content: " ";
  height: 100%;
  right: -10px;
  position: absolute;
  top: 0;
  width: 10px;
}

@media only screen and (min-width: $bp-medium) {
  #sidenav:after {
    box-shadow: -3px 0px 6px rgba(0,0,0,0.16), -3px 0px 6px rgba(0,0,0,0.23);
    content: " ";
    height: 100%;
    right: calc(#{$sidenav-width_opened} - 10px);
    position: absolute;
    top: 0;
    width: 10px;
  }
}


#topnav, #topnav-container {
  background-color: $ct-gray;
  overflow: hidden;
  width: 100%;
  z-index: 30;
}

#sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  font-family: montserrat;
}

#topnav p {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  white-space: nowrap;
}
