@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

$bp-max: 960px;
$bp-large: 768px;
$bp-medium: 600px;


$sidenav-width_opened: 250px; //width of sidenav in opened state
$sidenav-width_closed: 100px; //width of sidenav in closed state
$navbar-height: 50px; //height of navbar in mobile design

//type of transition for sliding, check for different options at http://easings.net
$sidenav-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
$sidenav_logo-transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;

$ct-gray: #2b2b2b;
$ct-orange: rgba(229,107,46,1);
$ct-blue: rgba(86,171,214,1);
$pg-silver: rgb(192,192,192);
$pg-gold: rgb(212,175,55);
$pg-platinum: rgb(229,228,226);

$bg-gray: rgba(245, 245, 245, 1);
$text-white: white;

$topnav-main: #f2f2f2;
$sidenav-main: #818181;


$sidenav-boxshadow: -3px 0px 6px rgba(0,0,0,0.16), -3px 0px 6px rgba(0,0,0,0.23), 3px 0px 6px rgba(0,0,0,0.16), 3px 0px 6px rgba(0,0,0,0.23);



@import "fonts";
@import "general";
@import "nav-design";
@import "nav-functionality";
@import "content";
@import "footer";
@import "slideshow";
