@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}


$bp-large: 768px;
$bp-medium: 600px;


$opened_width: 250px; //width of sidenav in opened state
$closed_width: 100px; //width of sidenav in closed state
$navbar_height: 50px; //height of navbar in mobile design

//type of transition for sliding, check for different options at http://easings.net
$transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

$ct-gray: #2b2b2b;
$ct-orange: rgba(229,107,46,1);
$ct-blue: rgba(86,171,214,1);
$pg-silver: rgb(192,192,192);
$pg-gold: rgb(212,175,55);
$pg-platinum: rgb(229,228,226);

$bg-gray: rgba(245, 245, 245, 1);



@import "fonts";
@import "general";
@import "nav-design";
@import "nav-functionality";
@import "content";
