@font-face {
  font-family: 'opensans';
  src: url("/css/fonts/Open_Sans/OpenSans-Light.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans-bold';
  src: url("/css/fonts/Open_Sans/OpenSans-SemiBold.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("/css/fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: opensans; }

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: #2b2b2b; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: underline; }

.s-1 {
  width: 8.33%; }

.s-2 {
  width: 16.66%; }

.s-3 {
  width: 25%; }

.s-4 {
  width: 33.33%; }

.s-5 {
  width: 41.66%; }

.s-6 {
  width: 50%; }

.s-7 {
  width: 58.33%; }

.s-8 {
  width: 66.66%; }

.s-9 {
  width: 75%; }

.s-10 {
  width: 83.33%; }

.s-11 {
  width: 91.66%; }

.s-12 {
  width: 100%; }

@media only screen and (min-width: 600px) {
  .m-1 {
    width: 8.33%; }

  .m-2 {
    width: 16.66%; }

  .m-3 {
    width: 25%; }

  .m-4 {
    width: 33.33%; }

  .m-5 {
    width: 41.66%; }

  .m-6 {
    width: 50%; }

  .m-7 {
    width: 58.33%; }

  .m-8 {
    width: 66.66%; }

  .m-9 {
    width: 75%; }

  .m-10 {
    width: 83.33%; }

  .m-11 {
    width: 91.66%; }

  .m-12 {
    width: 100%; } }
@media only screen and (min-width: 768px) {
  .l-1 {
    width: 8.33%; }

  .l-2 {
    width: 16.66%; }

  .l-3 {
    width: 25%; }

  .l-4 {
    width: 33.33%; }

  .l-5 {
    width: 41.66%; }

  .l-6 {
    width: 50%; }

  .l-7 {
    width: 58.33%; }

  .l-8 {
    width: 66.66%; }

  .l-9 {
    width: 75%; }

  .l-10 {
    width: 83.33%; }

  .l-11 {
    width: 91.66%; }

  .l-12 {
    width: 100%; } }
#sidenav {
  min-height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #2b2b2b;
  overflow-x: hidden;
  padding-top: 25px;
  transition: 0.5s;
  white-space: nowrap;
  will-change: transform; }
  #sidenav .sidenav-link {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    background-color: inherit;
    display: block;
    font-family: montserrat;
    transition: color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translate3d(0, 0, 0); }
  #sidenav .sidenav-link:hover:before {
    content: '/';
    position: fixed;
    animation: navpseudo_orange_Animation 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-fill-mode: both; }
  #sidenav .sidenav-link:hover {
    color: #e56b2e;
    transform: translate3d(10px, 0, 0); }
  #sidenav #active {
    color: white; }
  #sidenav #active:hover {
    color: #56abd6; }
  #sidenav #active:hover:before {
    animation: navpseudo_blue_Animation 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-fill-mode: both; }

#sidenav:after {
  box-shadow: -3px 0px 6px rgba(0, 0, 0, 0.16), -3px 0px 6px rgba(0, 0, 0, 0.23);
  content: " ";
  height: calc(100% - 50px);
  right: -10px;
  position: absolute;
  top: 0;
  width: 10px;
  margin-top: 50px; }

@media only screen and (min-width: 600px) {
  #sidenav:after {
    box-shadow: -3px 0px 6px rgba(0, 0, 0, 0.16), -3px 0px 6px rgba(0, 0, 0, 0.23);
    content: " ";
    height: 100%;
    right: calc(250px - 10px);
    position: absolute;
    top: 0;
    width: 10px;
    margin-top: 0px; } }
#topnav {
  background-color: #2b2b2b;
  overflow-x: hidden;
  width: 100vw;
  z-index: 25; }

#sidenav-logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 250px;
  height: 72px;
  position: relative;
  overflow: hidden;
  z-index: 30; }
  #sidenav-logo img {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
    z-index: 30; }

@media only screen and (min-width: 600px) {
  #sidenav-logo-opened {
    opacity: 0.0; }

  .sidenav_open-nav #sidenav-logo-opened {
    opacity: 1.0 !important; } }
#sidenav-language {
  width: 250px;
  text-align: center;
  font-family: montserrat;
  color: #818181; }
  #sidenav-language a {
    text-decoration: none;
    font-family: montserrat;
    color: #818181;
    transition: color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); }
  #sidenav-language a:hover {
    color: #e56b2e; }
  #sidenav-language #active {
    color: white; }
  #sidenav-language #active:hover {
    color: #56abd6; }

@media only screen and (min-width: 600px) {
  #sidenav-language {
    width: 100px; } }
#topnav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 30; }

#topnav div {
  color: #f2f2f2;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  font-size: 17px;
  white-space: nowrap; }

#topnav-left, #topnav-right {
  flex-grow: 0; }

#topnav-center {
  height: 1px;
  flex-grow: 1;
  background-color: #f2f2f2; }

@keyframes navpseudo_orange_Animation {
  0% {
    color: transparent;
    transform: translate3d(0, 0, 0); }
  100% {
    color: #e56b2e;
    transform: translate3d(-10px, 0, 0); } }
@keyframes navpseudo_blue_Animation {
  0% {
    color: transparent;
    transform: translate3d(0, 0, 0); }
  100% {
    color: #56abd6;
    transform: translate3d(-10px, 0, 0); } }
#topnav {
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translate3d(0, 0, 0);
  position: fixed;
  height: 50px;
  left: 0;
  top: 0; }

#sidenav {
  width: 250px;
  transform: translate3d(-250px, 0, 0);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

.sidenav_open-content {
  transform: translate3d(250px, 0, 0) !important; }

.sidenav_open-nav {
  transform: translate3d(0, 0, 0) !important;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

#main {
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translate3d(0, 0, 0);
  padding-top: 50px; }

#footer-container {
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translate3d(0, 0, 0); }

@media only screen and (min-width: 600px) {
  #topnav {
    display: none; }

  #sidenav {
    width: 250px;
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

  #sidenav:after {
    transform: translate3d(100px, 0, 0);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

  .sidenav_open-content {
    transform: translate3d(250px, 0, 0) !important; }

  .sidenav_open-nav {
    transform: translate3d(0, 0, 0) !important; }

  .sidenav_open-nav:after {
    transform: translate3d(250px, 0, 0) !important; }

  #main {
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translate3d(100px, 0, 0);
    padding-top: 0; }

  #footer-container {
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translate3d(100px, 0, 0); } }
#main {
  position: relative;
  overflow-x: hidden;
  min-height: calc(100vh - 494px);
  width: 100vw;
  z-index: 20;
  background-color: whitesmoke;
  will-change: transform; }

.container {
  width: 100vw;
  overflow-x: hidden; }

.spacer {
  height: 25px; }

.content {
  max-width: 960px;
  width: 90%;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto; }

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; }

.text {
  text-align: justify;
  padding: 15px; }

.title {
  position: relative;
  max-width: 1100px;
  width: 90%;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto; }
  .title .title-text {
    position: relative;
    float: left;
    font-family: montserrat;
    font-size: 25px;
    font-size: 8vw;
    background-color: whitesmoke;
    padding-right: 25px;
    animation: titletextAnimation 1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards; }

.title:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  height: 2px;
  width: 100%;
  background-color: black;
  animation: titlebarAnimation 1s cubic-bezier(0.645, 0.045, 0.355, 1) both;
  animation-delay: 1s; }

.section {
  position: relative;
  max-width: 960px;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .section span {
    height: 100%;
    font-family: montserrat;
    font-size: 20px;
    font-size: calc(18px + 1vw); }
  .section .section-slashes span:nth-child(1) {
    color: #56abd6; }
  .section .section-slashes span:nth-child(2) {
    color: #e56b2e; }

.subsection {
  font-family: opensans-bold;
  font-size: 16px;
  margin-bottom: 10px; }

@media only screen and (min-width: 600px) {
  #main {
    width: calc(100vw - 100px); }

  .container {
    width: calc(100vw - 100px); }

  .title .title-text {
    font-size: 75px; }

  .section {
    padding-left: 15px;
    padding-right: 15px; }

  .section span {
    font-size: 30px; } }
@keyframes titlebarAnimation {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@keyframes titletextAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#footer-container {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  z-index: 20;
  background-color: #e56b2e; }

#footer {
  max-width: 960px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: stretch;
  justify-content: center; }

.footer-left, .footer-right {
  position: relative;
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 35px; }

.footer-left {
  order: 2; }

.footer-right {
  order: 1;
  padding-bottom: 100px; }

#date-day1, #date-day2, #date-month, #date-year {
  color: white;
  font-family: montserrat;
  font-size: 50px;
  font-size: 10vw; }

.date-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto; }
  .date-container .date-bar {
    flex-grow: 1;
    height: 1px;
    height: .5vw;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px; }

@media only screen and (min-width: 768px) {
  .footer-left {
    order: 1; }

  .footer-right {
    order: 2; }

  #date-day1, #date-day2, #date-month, #date-year {
    font-size: 70px !important; }

  .date-bar {
    height: 5px !important; } }
@media only screen and (min-width: 1060px) {
  #date-day1, #date-day2, #date-month, #date-year {
    font-size: 100px !important; }

  .date-bar {
    height: 5px !important; } }
@media only screen and (min-width: 600px) {
  #footer-container {
    width: calc(100vw - 100px); } }
#contact-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-bottom: 25px;
  padding-right: 15px; }
  #contact-container a {
    color: white;
    font-size: 40px;
    padding-left: 5px; }

#footer-text {
  display: block;
  color: white;
  font-family: opensans;
  font-size: 16px;
  padding-top: 20px; }
  #footer-text .footer-text-1 {
    font-family: montserrat;
    font-size: 26px; }
  #footer-text .footer-text-2 {
    font-family: opensans;
    font-size: 18px; }
  #footer-text .footer-text-3 {
    font-family: montserrat;
    font-size: 18px; }
  #footer-text .footer-text-4 {
    font-size: 16px; }
    #footer-text .footer-text-4 a {
      color: white;
      font-family: opensans;
      font-size: 16px;
      text-decoration: none; }
    #footer-text .footer-text-4 a:hover {
      text-decoration: underline; }

.slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 500px;
  height: calc(100vh - 200px);
  z-index: 40;
  overflow: hidden; }

#slideshow-container {
  position: relative;
  z-index: 41;
  min-height: 500px;
  height: calc(100vh - 200px); }

.slideshow:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  content: '';
  background: transparent url(https://s3.eu-central-1.amazonaws.com/static.chemtogether.2018/img/pattern.png) repeat top left; }

.slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s; }

.slideshow li:nth-child(1) span {
  background-image: url(https://s3.eu-central-1.amazonaws.com/static.chemtogether.2018/img/1.jpg); }

.slideshow li:nth-child(2) span {
  background-image: url(https://s3.eu-central-1.amazonaws.com/static.chemtogether.2018/img/2.jpg);
  animation-delay: 6s; }

.slideshow li:nth-child(3) span {
  background-image: url(https://s3.eu-central-1.amazonaws.com/static.chemtogether.2018/img/3.jpg);
  animation-delay: 12s; }

.slideshow li:nth-child(4) span {
  background-image: url(https://s3.eu-central-1.amazonaws.com/static.chemtogether.2018/img/4.jpg);
  animation-delay: 18s; }

.slideshow li:nth-child(5) span {
  background-image: url(https://s3.eu-central-1.amazonaws.com/static.chemtogether.2018/img/5.jpg);
  animation-delay: 24s; }

.slideshow li:nth-child(6) span {
  background-image: url(https://s3.eu-central-1.amazonaws.com/static.chemtogether.2018/img/6.jpg);
  animation-delay: 30s; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 500px;
  height: calc(100vh - 200px);
  z-index: 41;
  overflow: hidden; }

.overlay li span {
  transform: translate3d(100vh, -100vh, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  animation: overlayAnimation 1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards; }

.overlay li:nth-child(1) span {
  background: repeating-linear-gradient(-45deg, transparent 0%, transparent 5%, #e56b2e 5%, #e56b2e 15%, transparent 15%, transparent 100%);
  animation-delay: 1.00s; }

.overlay li:nth-child(2) span {
  background: repeating-linear-gradient(-45deg, transparent 0%, transparent 25%, #e56b2e 25%, #e56b2e 30%, transparent 30%, transparent 100%);
  animation-delay: 1.35s; }

.overlay li:nth-child(3) span {
  background: repeating-linear-gradient(-45deg, transparent 0%, transparent 70%, #56abd6 70%, #56abd6 75%, transparent 75%, transparent 100%);
  animation-delay: 2.4s; }

.overlay li:nth-child(4) span {
  background: repeating-linear-gradient(-45deg, transparent 0%, transparent 85%, #56abd6 85%, #56abd6 95%, transparent 95%, transparent 100%);
  animation-delay: 2.5s; }

#home-top, #home-bottom {
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  z-index: 42;
  min-height: 250px;
  height: 50%;
  width: 100%;
  opacity: 0;
  animation: homeAnimation 1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
  animation-delay: 2.25s; }

#home-top #date-day1, #home-top #date-day2, #home-top #date-month, #home-top #date-year {
  color: white;
  font-family: montserrat;
  font-size: 50px;
  font-size: 12vw; }
#home-top #date-place, #home-top #date-time {
  color: white;
  font-family: montserrat;
  font-size: 20px;
  font-size: 5vw; }
#home-top .date-container {
  float: right;
  clear: both;
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0; }
  #home-top .date-container .date-bar {
    flex-grow: 1;
    height: 1px;
    height: .5vw;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px; }
@media only screen and (min-width: 768px) {
  #home-top #date-day1, #home-top #date-day2, #home-top #date-month, #home-top #date-year {
    font-size: 80px !important; }
  #home-top #date-place, #home-top #date-time {
    font-size: 20px !important; }
  #home-top .date-bar {
    height: 5px !important; } }
@media only screen and (min-width: 1060px) {
  #home-top #date-day1, #home-top #date-day2, #home-top #date-month, #home-top #date-year {
    font-size: 100px !important; }
  #home-top #date-place, #home-top #date-time {
    font-size: 40px !important; }
  #home-top .date-bar {
    height: 5px !important; } }

#link-container {
  position: absolute;
  bottom: 20px; }

#link-visitors, #link-companies, #link-visitors span, #link-companies span, #link-companies a, #link-visitors a {
  text-decoration: none;
  text-decoration-color: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-family: montserrat;
  font-size: 18px; }

#link-companies a, #link-visitors a {
  transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translate3d(0, 0, 0);
  display: block; }
  #link-companies a span, #link-visitors a span {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: text-decoration-color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

#link-companies a:hover, #link-visitors a:hover {
  transform: translate3d(15px, 0, 0) !important; }
  #link-companies a:hover span, #link-visitors a:hover span {
    text-decoration: underline;
    text-decoration-color: #e56b2e; }

@media only screen and (min-width: 768px) {
  #link-visitors, #link-companies, #link-visitors span, #link-companies span, #link-companies a, #link-visitors a {
    font-size: 20px !important; } }
@media only screen and (min-width: 1060px) {
  #link-container {
    bottom: 100px; }

  #link-visitors, #link-companies, #link-visitors span, #link-companies span, #link-companies a, #link-visitors a {
    font-size: 30px !important; } }
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out; }
  17% {
    opacity: 1;
    transform: scale(1.1); }
  25% {
    opacity: 0;
    transform: scale(1.1); }
  100% {
    opacity: 0; } }
@keyframes overlayAnimation {
  0% {
    transform: translate3d(100vh, -100vh, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
@keyframes homeAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-out; }
  100% {
    opacity: 1; } }
.infobox-container {
  height: 350px; }
  .infobox-container .infobox {
    display: block;
    position: relative;
    z-index: 10;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    margin: 15px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    z-index: 10; }
    .infobox-container .infobox .infoboxtext {
      position: relative;
      display: inline-block;
      z-index: 35;
      margin: 15px;
      padding: 5px;
      background-color: #e56b2e;
      color: white;
      font-family: montserrat;
      font-size: 20px; }
      .infobox-container .infobox .infoboxtext span {
        font-family: opensans;
        font-size: 16px; }
      .infobox-container .infobox .infoboxtext span:nth-child(3) {
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: text-decoration-color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }
    .infobox-container .infobox .blue {
      background-color: #56abd6; }
    .infobox-container .infobox .orange {
      background-color: #e56b2e; }
  .infobox-container #fair {
    background-image: url(/img/slideshow/1.jpg); }
  .infobox-container #companies {
    background-image: url(/img/slideshow/2.jpg); }
  .infobox-container #news {
    background-image: url(/img/slideshow/3.jpg); }
  .infobox-container #aboutus {
    background-image: url(/img/slideshow/6.jpg); }
  .infobox-container .infobox:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 30;
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    content: '';
    background: transparent url(/img/slideshow/pattern.png) repeat top left; }
  .infobox-container .infobox:hover:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 30;
    opacity: 0;
    content: '';
    background: transparent url(/img/slideshow/pattern.png) repeat top left; }
  .infobox-container .infobox:hover span:nth-child(3) {
    text-decoration: underline;
    text-decoration-color: white; }

.image {
  background-image: url(/img/slideshow/1.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none; }

.patterned {
  background: repeating-linear-gradient(-45deg, transparent 0%, transparent 70%, #56abd6 70%, #56abd6 75%, transparent 75%, transparent 100%), repeating-linear-gradient(-45deg, transparent 0%, transparent 85%, #56abd6 85%, #56abd6 95%, transparent 95%, transparent 100%), repeating-linear-gradient(-45deg, transparent 0%, transparent 25%, #e56b2e 25%, #e56b2e 30%, transparent 30%, transparent 100%), repeating-linear-gradient(-45deg, transparent 0%, transparent 5%, #e56b2e 5%, #e56b2e 15%, transparent 15%, transparent 100%), url(/img/slideshow/pattern.png) repeat top left; }
  .patterned .left, .patterned .right {
    color: white;
    font-family: montserrat;
    font-size: 50px; }

#fair-image {
  padding-bottom: 15px;
  max-width: 960px;
  width: 80%;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto; }
  #fair-image #date-day1, #fair-image #date-day2, #fair-image #date-month, #fair-image #date-year {
    color: white;
    font-family: montserrat;
    font-size: 50px;
    font-size: 12vw; }
  #fair-image #date-place, #fair-image #date-time {
    color: white;
    font-family: montserrat;
    font-size: 20px;
    font-size: 5vw; }
  #fair-image .date-container {
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end; }
    #fair-image .date-container .date-bar {
      flex-grow: 1;
      height: 1px;
      height: .5vw;
      background-color: white;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 20px;
      margin-right: 20px; }
  @media only screen and (min-width: 768px) {
    #fair-image #date-day1, #fair-image #date-day2, #fair-image #date-month, #fair-image #date-year {
      font-size: 80px !important; }
    #fair-image #date-place, #fair-image #date-time {
      font-size: 20px !important; }
    #fair-image .date-bar {
      height: 5px !important; } }
  @media only screen and (min-width: 1060px) {
    #fair-image #date-day1, #fair-image #date-day2, #fair-image #date-month, #fair-image #date-year {
      font-size: 100px !important; }
    #fair-image #date-place, #fair-image #date-time {
      font-size: 40px !important; }
    #fair-image .date-bar {
      height: 5px !important; } }

.fair-introlinks {
  text-align: left; }
  .fair-introlinks a {
    text-decoration: none; }
  .fair-introlinks a:hover span {
    text-decoration: underline; }

@media only screen and (min-width: 960px) {
  .fair-introlinks {
    text-align: center; } }
.schedule tr td:nth-child(1) {
  text-align: right;
  vertical-align: top;
  padding-right: 5px;
  white-space: nowrap; }
.schedule tr td:nth-child(2) {
  text-align: right;
  vertical-align: top;
  padding-right: 10px;
  white-space: nowrap; }
.schedule tr td:nth-child(3) {
  text-align: left; }

/*# sourceMappingURL=main.css.map */
